<div class="col-md-4">
  <div ng-repeat="review in reviews">
    <a ui-sref="home.review({reviewId: review.id})">{{ review.title }}</a>
  </div>
</div>
<div class="col-md-8 review">
  <div class="row">
    <div ui-view="body"></div>
  </div>
  <div class="row">
    <div class="review">
      <h2 class="text-center">Create a new review</h2>
      <form ng-submit="ReviewsFactory.addReview()" id="submit" role="form">
        <div class="form-group">
          <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Review Headline">
        </div>
        <div class="form-group">
          <textarea rows="4" cols="50" ng-model="ReviewsFactory.reviewBody" class="form-control" placeholder="Enter the body of your review here"></textarea>
        </div>
        <button type="submit" class="btn-lg">Submit review</button>
      </form>
    </div>
  </div>
</div>
